<div class="container text-center p-4 border border-3 border-dark mt-5 w-25">
  <h2 class="text-dark border-4 ">SignUp Form</h2>
  <br><br>
  <form action="">
      <div class="mb-3">
        <input type="text" class="form-control" id="Signup_uname" placeholder="UserName">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="Signup_acno" placeholder="Account No">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="Signup_pswd" placeholder="Password">
      </div>
     <button type="button" class="btn btn-outline-dark" onclick="Register()">Register</button><br>
     <a href="./index.html">Sign in</a>
    </form>
</div>
